{
    "rules": {
        "require-await": "warn",
        "no-return-await": "warn"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "extends": ["plugin:@typescript-eslint/recommended"]
}
