[Unit]
Description=MangaUpdates service

[Service]
User=mangaupdates
Group=mangaupdates
WorkingDirectory=/home/mangaupdates/MangaUpdates
ExecStart=/usr/local/bin/node /home/mangaupdates/MangaUpdates/dist/src/index.js
Type=simple
Restart=on-failure
RestartSec=10

# Limit damage in case something goes awry
CPUQuota=200%

# Security
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
