[Unit]
Description=Tsuchi service

[Service]
User=tsuchi
Group=tsuchi
WorkingDirectory=/home/tsuchi/Tsuchi
Environment = "SCRIPT_ARGS=info.json"
ExecStart=/home/tsuchi/Tsuchi/server/tsuchi-server-linux $SCRIPT_ARGS
Type=simple
Restart=on-failure
RestartSec=10

# Limit damage in case something goes awry
CPUQuota=200%

# Security
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
